<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar Cancha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
</head>
<body>
    <h1>Reservar Cancha</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.user_name.label }} {{ form.user_name(size=20) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
